<div class="file">
	<div class="iconContainer">
		<% if (file.type.includes('image')){ %>
		🖼️
		<% } else if (file.type.includes('video')) {%>
		🎞️
		<% } else if (file.type.includes('audio')) {%>
		🎧
		<% } else {%>
		📄
		<% }%>
	</div>
	<p class="name"><%= file.name %></p>
	<p class="uploadDate"><%= file.uploadedAt %></p>
	<div class="owner">
		<img src="<%= file.owner.profilePictureUrl %>" alt="" class="profilePicture">
		<p class="ownerUsername"><%= `${file.owner.id === user.id ? 'You' : file.owner.username}` %></p>
	</div>
	<div class="location">
		<div class="iconContainer">
			<% if (file.owner.id  === user.id){ %>
			📁
			<% } else {%>
			🧑‍🧒‍🧒
			<% }%>
		</div>
		<p><%= `${file.owner.id === user.id ? file.folder?.name : 'Shared with you'}` %></p>
	</div>

	<ul class="actions">
		<li class="action">
			<button class="downloadButton">
				<div class="iconContainer">
					⬇️
				</div>
			</button>
		</li>
		<li class="action">
			<button class="renameButton">
				<div class="iconContainer">
					🖋️
				</div>
			</button>
		</li>
		<li class="action">
			<button class="<%= file.isFavorite ? "addToFavoritesButton" : "removeFromFavoritesButton" %>" title="<%= file.isFavorite ? "Add To Favorites" : "Remove From Favorites" %>">
				<div class="iconContainer">
					<%= file.isFavorite ? "🌟" : "🌟" %>
				</div>
			</button>
		</li>
		<li class="action">
			<button class="showOtherActions" title="More">
				<div class="iconContainer">
					︙
				</div>
			</button>
		</li>
	</ul>
</div>